CMIMC

CMakeLists.txt
.idea
.autocp
cmake-build-debug
build
.cache

input.txt
contest
gen
code
brute
myAnswer
correctAnswer
input_file
stress.sh
test.cpp
i
wa
ac
answer
suspect
gen*



*.out*
*.in*
*.ans*
*.exe*
*.idx*
*.bat*
*.log*

