constexpr ll SZ = 1e5 + 5;
ll par[SZ], sze[SZ];
void makeSet(ll v) {
    par[v] = v;
    sze[v] = 1;
}
ll findSet(ll v) {
    if (v == par[v]) return v;
    return par[v] = findSet(par[v]);
}
void unionSets(ll a, ll b) {
    a = findSet(a);
    b = findSet(b);

    if (a != b) {
        if (sze[a] < sze[b]) swap(a, b);
        par[b] = a;
        sze[a] += sze[b];
    }
}

